.dropdown {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg);
    border: 1px solid transparent;
    border-radius: 1em;
    width: 300px;
    height: auto;
    opacity: 0;
    transition: all 0.3s ease;
    color: var(--secondary);
    padding: 2em;
    box-shadow: 0 1px 5px 1px black;
    z-index: -1;
    visibility: hidden;
}

.content {
    transition: all ease 0.2s;
    gap: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1 {
        background-color: var(--primary);
        color: var(--primary-text);
        padding: .5em;
    }
}

.account {
    background-color: var(--bg);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 1em;
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    transition: background-color 0.3s ease;
    &:hover {
        cursor: pointer;
        background-color: var(--bg-hover);
    }
}

.current {
    background-color: var(--primary);
    color: var(--primary-text);
    &:hover {
        cursor: pointer;
        background-color: var(--primary-hover);
    }
}

.open {
    border: 1px solid var(--secondary);
    opacity: 1;
    visibility: visible;
}