.navbar {
    padding: 2em;
    height: 112px;
    background-color: var(--bg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    &::after {
        content: '';
        height: 1px;
        width: 100%;
        background-color: black;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.scrolled {
    box-shadow: 0 2px 5px 0 black;
    &::after {
        opacity: 0;
    }
}

.navContainer {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 100%;
    gap: 1.5em;
    & li {
        list-style: none;
    }
}

.title {
    align-self: center;
    justify-self: flex-start;
    color: var(--secondary);
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    &:hover {
        color: var(--primary);
    }
    font-size: 1.2em;
}