.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    gap: 1em;
    position: relative;
}

.form input {
    padding: .5em;
    font-size: 1.3em;
    background-color: inherit;
    color: var(--secondary);
    border: 1px solid var(--secondary);
    outline: none;
    width: 100%;
}

.form .passwordContainer {
    position: relative;
    width: 100%;
}

.form .eye {
    border: none;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    position: absolute;
    right: .5em;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    transition: all ease 0.3s;
        &:hover {
            fill: var(--primary);
            cursor: pointer;
        }
}

.form .submitButton {
    padding: 1em;
    align-self: center;
    width: 80%;
    background-color: var(--secondary);
    color: var(--bg);
    transition: all 0.3s ease;
    &:hover {
        cursor: pointer;
        background-color: var(--secondary-hover);
    }
}