.noteCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--secondary);
    padding: .5em;
    padding-bottom: 1em;
    min-height: 200px;
    height: auto;
    overflow: hidden;
    transition: all 0.3s ease;
    color: var(--secondary);
    width: calc((100% - 3em) / 3); /* 3 colunas com gap de 1.5em entre */
    min-width: 250px;
    &:hover {
        cursor: pointer;
        background-color: var(--bg-hover);
    }
}

.noteCard:hover .actions {
    opacity: 1;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hide {
    opacity: 0;
}

.noteCard p, .noteCard h2, .noteCard .title {
    padding: .5em;
}

.noteCard .info p {
    font-size: 1.2em;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 9;
    white-space: normal;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .5em;
    opacity: 0;
    transition: all ease 0.3s;
}

.actions button {
    background-color: inherit;
    border: none;
    font-size: 1.1em;
    transition: all 0.3s ease;
    color: var(--secondary);
    &:hover {
        cursor: pointer;
        color: var(--primary);
    }
}