.footer {
    background-color: black;
    color: white;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.footer p {
    font-size: 1.2em;
    & strong {
        color: aquamarine;
    }
}

.icones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.icone {
    color: white;
    font-size: 1.5em;
    & svg {
        &:hover {
            fill: aquamarine;
            cursor: pointer;
        }
        transition: all 0.3s ease;
    }
}