.noteCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    padding: .5em;
    min-width: 200px;
    max-width: 100%;
    min-height: 200px;
    max-height: auto;
    overflow: hidden;
    transition: all 0.3s ease;
    &:hover {
        cursor: pointer;
        background-color: hsl(0, 0%, 84%);
    }
}

.hide {
    opacity: 0;
}

.noteCard p, .noteCard h2, .noteCard .title {
    padding: .5em;
}

.noteCard p {
    font-size: 1.2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}