.noteCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    padding: .5em;
    height: auto;
    width: 203px;
    min-height: 180px;
    overflow: hidden;
    & input, textarea {
        outline: none;
        padding: 0.5rem;
        resize: none;
        background-color: #efefef;
        border: solid black 1px;
    }
}

.noteCard .actions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: .5em
}

.noteCard .actions button {
    background-color: inherit;
    border: none;
    font-size: 1.1em;
    transition: all 0.3s ease;
    &:hover {
        cursor: pointer;
        color: aquamarine;
    }
}

.noteCard p, .noteCard h2, .noteCard .title {
    padding: .5em;
}

.noteCard p {
    font-size: 1.2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.noteCard .title {
    padding: .5em;
    font-size: 1.5em;
    border-bottom: none;
    height: auto;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.noteCard .content {
    padding: .5em;
    font-size: 1.2em;
    border-top: none;
    border-bottom: none;
    height: auto;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.noteCard .title, .noteCard .content {
    white-space: normal;
}

.noteCard .submitButton {
    border-top: none;
    &:hover {
        cursor: pointer;
        background-color: hsl(0, 0%, 84%);
    }
}