.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.p-top {
    padding-top: 112px;
}

.min-height {
    min-height: 75vh;
}

.router {
    min-height: 75vh;
    margin-top: 112px;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}