.btn {
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    transition: all 0.3s ease;
    text-decoration: none;
    width: auto;
    font-size: .9em;
    border: none;
}

.btnContainer {
    position: relative;
}

.color {
    background-color: var(--primary);
    color: var(--primary-text);
    &:hover {
        background-color: var(--primary-hover);
        cursor: pointer;
    }
}

.page {
    background-color: var(--secondary);
    color: var(--bg);
    &:hover {
        background-color: var(--secondary-hover);
        cursor: pointer;
    }
}